<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar justify-content-center">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html">Home page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hello.html">A personal hello from Cilla</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="andrew.html">Andrew</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="daniel.html">Daniel</a>
                </li>
                <!-- Navbar dropdown -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Photos
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="photos.html">Photos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="photos2006.html">Photos 2006</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="photos2007.html">Photos 2007</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="photos2008.html">Photos 2008</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="photos2010.html">Photos 2010</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="photos2013.html">Photos 2013</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="photosolder.html">Older Photos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="raffie.html">Raffie</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="caleb.html">Caleb</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="testimonies.html">Testimonies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
